.taxjar-table-wrapper .table th {
	background-color: var(--subtle-fg);
	font-size: var(--text-sm);
	font-weight: 600;
}

.taxjar-table-wrapper .table td {
	vertical-align: middle;
}

.report-summary .summary-item + .summary-item {
	border-left: 1px solid var(--border-color);
}
